DB_HOST= 
DB_USER =
DB_PASSWORD=
DB=
PORT=

JWT_EXPIRES_IN=
JWT_SECRET=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGE=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
